---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
import Welcome from "../components/Welcome.tsx";
import VisitorInfo from "../components/OpeningTimes.tsx";
import AroundMuseum from "../components/AroundMuseum.tsx";
import Donation from "../components/Donation.tsx";
import Infofor from "../components/Infofor.tsx";
import Logo from "../components/Logo.tsx";
---

<Layout title="The National Museum of Computing">
  <main class="mx-[5vw]">
    <Logo />
    <Header />
    <Welcome />
    <VisitorInfo client:load />
    <AroundMuseum client:load />
    <Donation />
    <Infofor client:load />
    <Footer />
  </main>
</Layout>
